<mat-tab-group>
    <mat-tab *ngFor="let merchant of merchants">
        <ng-template  mat-tab-label class="mat-tab-label">
                <img [src]="imagesPath + merchant.iconName" />
        </ng-template>
        <ng-template matTabContent>
          <div class="title__container">
            <h1 class="title">{{ merchant.name }}</h1>
          </div>
            <app-quest-list *ngIf="merchant" [merchantId]="merchant.id"></app-quest-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
