.toolbar {
  padding-left: 0;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: none;

  &__back {
    height: 64px;
    width: 64px;
    display: grid;
    place-items: center;
    border-right: 1px solid var(--primary-color);
    margin-right: 1rem;
  }
}

.nav-list {
  &__item {
    border-bottom: 1px solid var(--primary-color);
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 63px;
    text-decoration: none;
    color: var(--link-color);
    transition: colo 0.2s;

    &--active {
      color: var(--active-link-color);
      background-color: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }

    &:hover {
      color: var(--active-link-color);
    }
  }

  &__icon {
    margin-bottom: 0.25rem;
  }

  &__name {
    font-size: 0.75em;
    font-weight: 100;
  }
}

.content {
  padding: 1rem;
}

.mat-sidenav {
  width: 65px;
  overflow-x: hidden;

  &__close {
    height: 64px;
    width: 100%;
    display: grid;
    place-items: center;
    border-bottom: 1px solid var(--primary-color);
  }
}

.mat-sidenav-content {
  min-height: 100vh;
}

.mat-drawer-container {
  background-color: var(--primary-background);
}
